<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>com.esweb.controller.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertEmployeeServlet</servlet-name>
        <servlet-class>com.esweb.controller.InsertEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertEmployeeServlet</servlet-name>
        <url-pattern>/dws</url-pattern>
    </servlet-mapping>
</web-app>
